body{
    background-color: rgb(43, 226, 165)  ;
    background: rgb(0,212,255);
    background: linear-gradient(90deg, rgba(0,212,255,1) 45%, rgba(9,64,121,1) 90%);
h1{
color:color: border: ;;
}
{}
