body{
   color: black
   background: rgb(2,0,36);
   background: linear-gradient(186deg, rgba(2,0,36,1) 0%, rgba(9,117,121,1) 18%, rgba(0,212,255,1) 79%);

    
}

.futebol-main{


    width: 30%;
    margin-left: 30%;





}